
$colreorder-insert-color: #0259C4 !default;
$colreorder-insert-color-dark: rgb(110, 168, 254) !default;


// Floating table, dragged with the mouse
table.dtcr-cloned.dataTable {
	position: absolute !important;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 202;
	border-radius: 4px;
}

html.dark {
	table.dtcr-cloned.dataTable {
		background-color: rgba(33, 33, 33, 0.9);
	}
}

table.dataTable tbody {
	tr {
		td.dtcr-moving {
			background-color: rgba(127, 127, 127, 0.15);
		}

		td.dtcr-moving-first {
			border-left: 1px solid $colreorder-insert-color;
		}

		td.dtcr-moving-last {
			border-right: 1px solid $colreorder-insert-color;
		}
	}
}
